.list-group{
  &.data-list{
    .list-group-item{
      border: 1px solid #000;
      margin-top: -1px;
      @include border-radius(0);
      border-left: 0; border-right: 0;
      &.list-group-item-highlight{
        background-color: $state-warning-bg;
      }
      &:first-child{
        border-top-color: #d3d3d3;
      }
    }
  }
  .list-group-item{
    color: #000;
  }
}
