@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";
.nav-header {
  .site-header {
    .main-search {
      cursor: pointer;
      &.active {
        opacity:1;
        width:100px;
        height:100px;
        transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
      }
      &.inactive {
        opacity:0;
        width:0;
        height:0;
        transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
      }
    }
    .c-header__top {
      .main-navigation {
        //background: linear-gradient(to right, #01c4a9 40%,#18ffea);
        background: linear-gradient(to right, #0187c4 40%,#189eff);
        .main-navigation-wrap {
          padding: 35px 0;
          &>* {
            font-size: 14px;
            display: inline-block;
            vertical-align: middle;
          }

          .wrap-banning {
            width: 25%;
          }
          @media (max-width: 768px) {
            .wrap-banning {
              width: 40%;
            }
          }
          @media (max-width: 480px) {
            .wrap-banning {
              &>a {
                &>img {
                  max-height: 60px;
                }
              }
            }
          }
          .main-menu {
            padding: 0;
            width: 60%;
            &>ul {
              &>li {
                &>a {
                  background: transparent;
                  color: white;
                  font-weight: 600;
                  padding: 13px 20px;
                  text-decoration: none;
                }
                &>a:before {
                  content: "";
                  position: absolute;
                  width: 50%;
                  height: 2px;
                  bottom: 6px;
                  //background: #67e8a1;
                  background: #4e9def;
                  visibility: hidden;
                  border-radius: 5px;
                  transform: scaleX(0);
                  transition: .25s linear;
                  left: 25%;
                }
                &:hover {
                  &>a:before {
                    visibility: visible;
                    transform: scaleX(1);
                  }
                }
              }
            }
          }

          @media (max-width: 992px){
            .main-menu {
              display: none !important;
            }
          }

          @media (max-width: 600px) {
            .main-menu {
              width: 40%;
            }
          }

          .search-navigation {
            width: 15%;
            .widget-manga-search{
              margin-bottom: 0;
              padding-right: 0;
              display: table;
              width: 100%;
              &>* {
                display: table-cell;
                vertical-align: middle;
              }
              &>ul {
                padding: 0;
                margin-bottom: 0;
              }
              .link-adv-search{
                padding-left: 15px;
                &>a {
                  text-decoration: none;
                  font-weight: 600;
                  color: white;
                }
              }
              @media (max-width: 1200px) {
                .link-adv-search {
                  display: table-cell;
                }
              }
              @media (max-width: 480px) {
                .link-adv-search {
                  display: none;
                }
              }
              .main-menu-search {
                text-align: center;
                &>* {
                  list-style-type: none;
                }
                &>div:hover {
                  background-color: black;
                  color: white;
                }
                .open-search-main-menu {
                  font-size: 17px;
                  width: 35px;
                  height: 35px;
                  display: inline-block;
                  background-color: #fff;
                  -webkit-transition: background-color 150s ease;
                  -moz-transition: background-color 150s ease;
                  -o-transition: background-color 150s ease;
                  transition: background-color 150s ease;
                  -webkit-transition: color 150ms ease-out;
                  -moz-transition: color 150ms ease-out;
                  -o-transition: color 150ms ease-out;
                  transition: color 150ms ease-out;
                  text-align: center;
                  border-radius: 50%;
                  line-height: 36px;
                  color: #0187c4;
                  .menu-search {
                    &>i:before {
                      font-weight: 700;
                    }
                  }
                }
              }
              @media (max-width: 1200px) {
                .main-menu-search {
                  text-align: right;
                  width: 100%;
                }
              }
            }
          }
          @media (max-width: 1200px) {
            .search-navigation {
              text-align: right;
            }
          }
          @media (max-width: 992px) {
            .search-navigation {
              width: 65%;
            }
          }
          @media (max-width: 768px) {
            .search-navigation {
              width: 50%;
            }
          }
          @media (max-width: 480px){
            .search-navigation {
              width: 20%;
              position: absolute;
              right: 44px;
              top: 50%;
              margin-top: -18px;
            }
          }
          .c-toggle__menu {
            display: none;
            width: 10%;
            &>div {
              margin: auto;
            }
            text-align: right;
            .menu_icon__open {
              display: inline-block;
              margin: 5px 0px;
              background: transparent;
              border: none;
              outline: 0;
              padding: 0;
              &>span {
                display: block;
                width: 30px;
                height: 2px;
                background-color: #ffffff;
                margin-bottom: 8px;
                -webkit-transition: opacity 0.05s 0.25s, transform 0.2s 0.25s ease-out;
                -o-transition: opacity 0.05s 0.25s, transform 0.2s 0.25s ease-out;
                transition: opacity 0.05s 0.25s, transform 0.2s 0.25s ease-out;
                -webkit-transform-origin: left;
                -moz-transform-origin: left;
                -ms-transform-origin: left;
                -o-transform-origin: left;
                transform-origin: left;
                pointer-events: none;
              }
            }
          }
          @media (max-width: 992px) {
            .c-toggle__menu {
              display: inline-block;
            }
          }
          @media (max-width: 480px) {
            .c-toggle__menu {
              position: absolute;
              right: 10px;
              top: 50%;
              margin-top: -12px;
            }
          }
        }
        @media (max-width: 600px) {
          .main-navigation-wrap {
            padding: 5px 0;
          }
        }
      }
    }
    .off-canvas {
      background: linear-gradient(to right, #0187c4 40%,#189eff);
      //background: #eb3349;
      //background: -webkit-linear-gradient(left, #eb3349 40%, #f45c43);
      //background: -o-linear-gradient(right, #eb3349 40%, #f45c43);
      //background: -moz-linear-gradient(right, #eb3349 40%, #f45c43);
      //background: linear-gradient(to right, #eb3349 40%, #f45c43);
      position: fixed;
      width: 300px;
      top: 0;
      left: -300px;
      right: auto;
      height: 100%;
      z-index: 10000;
      -webkit-transition: left 0.3s ease-in-out;
      -moz-transition: left 0.3s ease-in-out;
      -o-transition: left 0.3s ease-in-out;
      transition: left 0.3s ease-in-out;
      &.active {
        left:0;
      }
      &.close-nav {
        height: 58px;
        width: 100%;
        cursor: pointer;
        position: relative;
        margin-bottom: 5px;
        margin-top: 40px;
        float: none;
        text-align: center;
      }
      @media (max-width: 768px) {
        &.close-nav {
          margin-top: 25px;
          height: 40px;
          margin-bottom: 18px;
        }
      }
      &.c-modal_item {
        text-align: center;
        display: block;
        &.c-modal_sign-in {
          display: inline-block;
        }
        &>a {
          display: inline-block;
          color: #fff;
          font-weight: 600;
          padding: 5px 20px;
          border: 2px solid #fff;
          border-radius: 30px;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
        }
        &.c-modal_sign-up {
          display: inline-block;
          margin-top: 10px;
        }
        &>nav.off-menu {
          overflow-y: auto;
          max-height: calc(100vh - 235px);
        }
        @media (max-width: 782px) {
          &>nav.off-menu {
            max-height: calc(100vh - 229px);
          }
        }
      }
      &>ul {
        padding: 0 30px;
      }
    }
    @media (max-width: 600px) {
      .off-canvas {
        width: 260px;
      }
    }
  }
}
